@font-face {
    font-family: 'Jua-Regular';
    /* src: url('fonts/Jua/Jua-Regular.ttf') format('truetype'); */
    src: url('MFCUCI.github.io/assets/fonts/Jua/Jua-Regular.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Londrina_Shadow';
    src: url('MFCUCI.github.io/assets/fonts/Londrina_Shadow/LondrinaShadow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playwrite_BE_VLG';
    src: url('MFCUCI.github.io/assets/fonts/Playwrite_BE_VLG/PlaywriteBEVLG-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik_Doodle_Triangles';
    src: url('MFCUCI.github.io/assets/fonts/Rubik_Doodle_Triangles/RubikDoodleTriangles-Regular?v=1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Global Styles */
body, html {
    background: none;
    /* font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif; */
    font-family:'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Main Colors */
:root {
    --navy-blue: #001f3f;
    --white: #ffffff;
    --light-gray: #f4f4f4;
    --dark-gray: #333333;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 20px;
    color: var(--white);
    font-family: 'Jua-Regular', sans-serif;
    letter-spacing: 3p  x;
    background-color: transparent; /* Initially transparent */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    min-height: var(--nav-height);
    transition: background-color 0.5s ease; /* Smooth transition */
    
}

/* Hover Effect: Change background on hover */
.navbar:hover {
    background-color: var(--navy-blue); /* Color appears on hover */
    z-index:11;
}

/* Optional: Change link colors or any additional styles for hover */
.navbar a:hover {
    color: var(--light-blue); /* Example link hover effect */
    z-index:11;
}


.navbar-logo img {
    width: 70px;
    height: 70px;
}

.navbar-logo span {
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    border: none;
    background: none;
}

.navbar-toggle .bar {
    width: 25px;
    height: 3px;
    background: var(--white);
    margin: 4px 0;
    border-radius: 2px;
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-links li {
    margin-right: 40px;
}

.navbar-links a {
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
}

/* Add a smooth underline effect using a pseudo-element */
.navbar-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white); /* White underline */
    transition: width 0.3s ease;
}

.navbar-links a:hover {
    color: #f4f4f4; /* Slightly lighter white on hover */
}

/* Extend the underline on hover */
.navbar-links a:hover::after {
    width: 100%; /* Full width underline */
}


/* Sections */
.section {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Home, Workshop, and Events sections */
#home, #events, #past-events {
    min-height: 100vh; /* Ensure these sections are at least 100vh */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.home {
    position: relative;
    width: 100%;
    min-height: 100vh; /* Ensure the section has enough height */
    background: linear-gradient(to right, #000000, #3533CD);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    align-items: center;
}

/* Pseudo-element for background image */
.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('assets/images/Binary_Background.png') repeat;
    background-size: cover;
    opacity: 0.5;
    z-index: 0;
    pointer-events: none;
}

/* Gradient overlay */
.home::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 100%);
    z-index: 0;
    pointer-events: none;
}





/* Phrase container (Math Finance and UCI text) */
.center-container {
    position: relative;
    width: 80%;                /* Adjust the container width as desired */
    max-width: 1000px;         /* Set a maximum width if necessary */
    height: 30vh;              /* Adjust the container height as needed */
    display: flex;
    flex-direction: column;    /* Stack items vertically */
    justify-content: center;   /* Center vertically */
    align-items: center;       /* Center horizontally */
    text-align: center;
    padding-top: 8vh;          /* Adjust for desired vertical padding */
    margin: 0 auto;            /* Center the container horizontally */
}

/* Shared styles for both texts */
.math-finance, .uci {
    color: white;
    white-space: nowrap; /* Ensure the text stays in one line */
    font-family: 'Londrina_Shadow', sans-serif;
    font-weight: bold;
    letter-spacing: 0px;
    z-index: 2; /* Ensure the text is above the image */
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.6), 
                 0 0 10px rgba(255, 255, 255, 0.4), 
                 0 0 15px rgba(255, 255, 255, 0.3);
    
    /* Keep font size constant */
    font-size: 15vh;            /* Font size based on viewport height */
    line-height: 0.9;           /* Adjust line height for spacing */
    text-align: center;
    position: relative;
    max-width: 100%;            /* Ensure text doesn't overflow the container */
    white-space: nowrap;        /* Ensure the text stays on one line */
}


/* Media query to prevent text from shrinking below a certain size */
@media (max-height: 500px) {
    .math-finance, .uci {
        font-size: 60px;  /* Minimum font size for smaller screens */
    }
}

@media (max-height: 400px) {
    .logo-image {
        width: 200px;   /* Minimum width for the logo image */
    }
}

.math-finance {
    padding-top: 10px;
}

.uci {
    padding-bottom: 10px;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .math-finance, .uci {
        font-size: 10vw; /* Adjust font size for smaller screens */
        padding-top: 5px; /* Adjust padding for smaller screens */
        padding-bottom: 5px; /* Adjust padding for smaller screens */
    }
}

@media (max-width: 480px) {
    .math-finance, .uci {
        font-size: 10vw; /* Further adjust font size for very small screens */
    }
}


/* Flex container for the logo */
.logo-container {
    position: relative;
    height: 50vh;             /* Full viewport height for vertical centering */
    display: flex;
    justify-content: center;   /* Horizontally center the logo */
    align-items: center;       /* Vertically center the logo */
    margin-top: 40px;          /* Push the logo container lower */
}

/* Logo image styling */
.logo-image {
    z-index: 1;
    pointer-events: none;
    max-width: 100%;           /* Ensures the image is responsive */
    width: 60vh;               /* Width based on viewport height for responsiveness */
    height: auto;              /* Maintains the aspect ratio */
    padding-bottom: 5vh;       /* Padding relative to viewport height */
    min-width: 300px;          /* Minimum width to prevent the logo from becoming too small */
}


.about {
    background-color: var(--light-gray);
    color: var(--dark-gray);
}

.about-description {
    font-weight: none;
    font-size: 18px;
    padding-left: 20px; /* Adjust the value as needed */
    padding-right: 20px; /* Adjust the value as needed */
}

.learn-more-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--navy-blue);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
}

.learn-more-btn:hover {
    background-color: #00366b;
}


/* Upcoming Events Section */
.events {
    position: relative;
    color: var(--white);
    background: linear-gradient(to right, #000000, #3533CD);
    overflow: hidden;
    z-index: 1;
}

/* Pseudo-element for background image with reduced transparency */
.events::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('assets/images/Binary_Background.png') repeat;
    background-size: cover; /* Ensure the image covers the entire area */
    opacity: 0.5; /* Adjust opacity to make the image more visible */
    z-index: 0;
    pointer-events: none;
}

/* Gradient overlay to blend edges (optional) */
.events::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 100%);
    z-index: 0;
    pointer-events: none;
}

/* Upcoming Events and Workshops Section */

/* Adds some padding above the section */
.section.events {
    padding-top: 50px;
    text-align: center;
}

/* Container for winners with creative styling */
.winners-container {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    gap: 40px; /* Adds space between the two images */
    margin-top: 30px; /* Adds space above the winners' images */
    background-color: #f7f7f700; /* Light background color */
    padding: 40px; /* Padding around the entire container */
    border-radius: 12px; /* Rounded corners for the container */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    z-index: 2;
}

/* Styling for each individual winner */
.winner {
    text-align: center;
    background-color: #ffffff; /* White background for each winner */
    padding: 20px;
    border-radius: 8px; /* Rounded corners for each winner block */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow effect */
    font-family: 'Segoe UI', sans-serif;
}

/* Styling for images */
.winner img {
    max-width: 200px; /* Limit the size of the images */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 8px; /* Rounded corners for the images */
    border: 3px solid #ddd; /* Border around the image */
    margin-bottom: 10px; /* Space between image and name */
}

.upcoming-events-container {
    z-index: 2;
    padding-top: 60px; /* Adds more space above the entire section */
}

/* Speaker Event Image Styling */
.next.event {
    padding-top: 30px; /* Adds more space above the event title and image */
}

.next.event img {
    display: block;
    max-width: 40%; /* Adjust the size to be smaller */
    height: auto;
    margin: 20px auto; /* Centers the image horizontally */
    border-radius: 8px; /* Optional: rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
}



/* Styling for text */
h4 {
    font-size: 1.4em;
    color: #ffffff; /* Dark text color */
    margin-bottom: 0px; /* Space between title and image */
    font-weight: bold;
   
}

#events p {
    font-size: 1em;
    color: black; /* Change this to whatever color you want */
    font-weight: bold;
}

#events .name {
    font-size: 1.2em;
}


/* Membership Section Styles */
.section.membership {
    text-align: center;
    padding: 2rem;
    background: linear-gradient(120deg, #ffecd2, #fcb69f); /* Gradient background */
}

.membership-row {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Space between images */
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.membership-row img {
    width: 275px; /* Adjust as needed */
    height: auto;
    border-radius: 8px; /* Optional: Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
    transition: transform 0.2s; /* Optional: Hover effect */
}


.membership-row img:hover {
    transform: scale(1.05); /* Optional: Slight zoom on hover */
}




/* Past Events Section */
.past-events {
    padding: 50px 20px;
    background-color: var(--light-gray);
}

.past-events h2 {
    text-align: center;
    font-family: 'Jua-Regular', sans-serif;
    font-size: 36px;
    color: var(--dark-gray);
    margin-bottom: 40px;
}

.past-events-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust columns to fit content */
    gap: 30px;
    justify-content: center;
}

/* Maintain 3:2 aspect ratio for images */
.past-event-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    aspect-ratio: 3 / 2; /* Maintain 3:2 aspect ratio */
}

.past-event-card:hover {
    transform: translateY(-5px); /* Lift the card on hover */
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.past-event-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.past-event-card:hover .past-event-image {
    transform: scale(1.05); /* Zoom in the image slightly on hover */
}


/* Event Title */
.past-event-title {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20px);
    text-align: center;
    color: var(--white);
    background-color: rgba(0,0,0,0.7);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
    
/* Responsive Design */
@media (max-width: 1200px) {
    .past-events-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust column width */
    }
}

@media (max-width: 768px) {
    .past-events-grid {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); /* Single column layout */
    }
}


/* Event Description on Hover */
.past-event-description {
    position: absolute;
    top:0;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
    color: white;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
}

.past-event-card:hover .past-event-description {
    opacity: 1;
}

#past-events p {
    color: white; /* Change this to a different color */
}

.team {
    position: relative;
    color: var(--white);
    background: linear-gradient(to right, #000000, #3533CD);
    overflow: hidden;
    z-index: 1;
}

/* Pseudo-element for background image with reduced transparency */
.team::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('assets/images/Binary_Background.png') repeat;
    background-size: cover; /* Ensure the image covers the entire area */
    opacity: 0.5; /* Adjust opacity to make the image more visible */
    z-index: 0;
    pointer-events: none;
}

/* Gradient overlay to blend edges (optional) */
.team::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 100%);
    z-index: 0;
    pointer-events: none;
}

.section.team {
    text-align: center;
    padding-top: 70px;   /* Add padding to the bottom of the image */
    padding-bottom: 70px;   /* Add padding to the bottom of the image */

}

.team-pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.team-member {
    margin: 10px;
    text-align: center;
    z-index: 2;
}

.team-photo {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.team-name {
    font-weight: bold;
    margin-top: 10px;
}

.team-role {
    font-style: italic;
    color: var(--white);
}

.btn {
    display: inline-block;
    padding: 20px 35px;
    font-family:'Segoe UI', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: white;
    background-color: #333333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #585858;
}

.contact {
    background-color: var(--light-gray);
    color: var(--dark-gray);
}



h2 {
    font-family:'Jua-Regular', sans-serif;
    font-size: 36px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    z-index: 2;
}

p {
    font-size: 18px;
    max-width: 800px;
    line-height: 1.6;
}

/* Upcoming events Heading */
.events-heading {
    position: relative; /* Ensures z-index takes effect */
    text-align: center; /* Center align the heading */
    z-index: 2; /* Higher z-index to appear above the background */
    margin-bottom: 20px; /* Adds some space below the heading */
}




/* Team Members */
.team-pictures {
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width: 800px;
    margin: 0 auto;
}

.team-picture {
    text-align: center;
    z-index: 2;
}

.team-picture img {
    width: 1000px;
    height: 350px;
    border-radius: 2%;
    object-fit: cover;
    margin-bottom: 15px;
}

h3 {
    font-size: 30px;
    margin-bottom: 5px;
    font-family: 'Jua-Regular', sans-serif;
    margin-top: 100px;
    z-index: 3;

}

h4{
    line-height: 2;
}

/* Contact Links */
.contact {
  text-align: center;
  padding: 2rem;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.social-icon {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icon img {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Maintain aspect ratio */
  margin-bottom: 0.5rem; /* Space between icon and description */
  border-radius: 25%;
}

.social-icon p {
  margin: 0;    
  font-size: 0.9rem; /* Adjust font size as needed */
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: row; /* Ensure the logo and toggle are in the same row */
        justify-content: space-between; /* Distribute space between logo and toggle */
        align-items: center; /* Align both elements vertically in the center */
        padding: 10px;
        display: flex;
        box-sizing: border-box; /* Ensure padding is included in width */
        overflow: hidden; /* Prevent overflow */
    }

    .navbar-logo img {
        width: 50px;
        height: 50px;
    }

    .navbar-toggle {
        display: flex;
        align-items: center;
        margin-left: auto; /* Push toggle to the right */
        cursor: pointer;
        box-sizing: border-box; /* Ensure padding is included in width */
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        top: 100%;
        right: 0;
        align-items: flex-start;
        margin-top: 10px;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-links li {
        margin: 10px 0;
    }

    #logo-image {
        margin-top: 100px;
        max-width: 100%;
    }


    .team-picture img {
        width: 100%;
        height: auto;
    }

    .team-row {
        flex-wrap: wrap;
    }

    .team-members {
        flex-direction: column;
    }
}
